rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net default to deny
    match /{document=**} {
      allow read, write: if false;
    }

    // Registrations collection access
    match /registrations/{registrationId} {
      allow read, write: if true;
    }

    // Suggestions collection access
    match /suggestions/{suggestionId} {
      allow read, write: if true;
    }

    // Event views collection access
    match /event_views/{eventId} {
      allow read, write: if true;
    }
  }
}
